*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    scroll-behavior: smooth;
}
#header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 16rem;
    background: #60b2e5;
}
#profilePic{
margin: 3rem;
    border: 5px solid #53f4ff;
    border-radius: 50%;
}
#profilePic:hover{
    box-shadow: 0.1rem 0.1rem 5rem black;
    transform: scale(1.1);
}
.h1{
margin: 1rem;
}
#languages{
border-collapse: collapse;
    border: 0.3rem solid #1E3A5F;
    padding: 0.4rem;
    margin: 2rem;
    height: 30%;
    width: 30%;
}
#languages td{
    text-align: center;
    border: 5px solid #1E3A5F;
    padding: 0.4rem;
    margin: 1rem;
}
#languages:hover{
box-shadow: 0.1rem 0.1rem 5rem black;
    transform: scale(1.1);
}
#languages tr:nth-child(even){
    background: #8abeef;
}
#languages tr:nth-child(odd){
    background: #D9E6F2;
}
#workExperience{
   display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8rem;
    margin: 3rem;
    padding: 1rem;
}
#orderdList{
    margin: 1rem;
    padding: 1rem;
}
.olLi{
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

}
.olLi:hover{
    box-shadow: 0.1rem 0.1rem 5rem black;
    transform: scale(1.01);
}
#sectionLanguages{
    margin: 1rem;
    padding: 1rem;
}
.skills{
    margin: 1rem;
    padding: 1rem;
}
#sectionEducation{
    margin: 1rem;
    padding: 1rem;
}
#introduction{
    margin: 1rem;
    padding: 1rem;
}
p{
    margin: 0.2rem;
    padding: 0.1rem;
}
hr{
    margin-top: 1rem;
    margin-bottom: 2rem;
 border-bottom: 1rem solid #1E3A5F;
}
footer{
    margin-top: 1rem;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #1E3A5F;
}
footer p{
    margin: 0.2rem;
    color: white;
}
#scrollbutton{
background-color: #8abeef;
    color: #1E3A5F;
    border: 0.2rem solid #8abeef;
    text-decoration: none;
}
h2{
    margin: 3rem;
    padding: 1rem;
}
#Education{
    border-collapse: collapse;
    border: 0.3rem solid #1E3A5F;
    padding: 0.4rem;
    margin: 2rem;
    height: 30%;
    width: 30%;
}
#Education td{
    text-align: center;
    border: 5px solid #1E3A5F;
    padding: 0.4rem;
    margin: 1rem;
}
#Education:hover{
    box-shadow: 0.1rem 0.1rem 5rem black;
    transform: scale(1.1);
}
#Education tr:nth-child(even){
    background: #8abeef;
}
#Education tr:nth-child(odd){
    background: #D9E6F2;
}.olskills{
     margin: 1rem;
     padding: 1rem;
 }
.liskills{
    margin: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;

}.olskills:hover{
     box-shadow: 0.1rem 0.1rem 5rem black;
     transform: scale(1.01);

}
.skill{
    margin: 1rem;
}
#IntroText{
    padding-top: 0.2rem;
}
@media(min-width: 576px){
    #workExperience{
        display: contents;
    }
    .moble-ListDiv{
        display: none;
    }
}
@media(max-width: 576px){

#workExperience {
    display: contents;
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 0.5rem;
}
    #orderdList{
        margin: 1.5rem;
        padding: 1rem;
    }
    footer{
        margin-top: 1rem;
        padding: 2rem;
        width: 100%;
        height: 5rem;
        position: absolute;
    }
    #languages {
        display: none;
    }
    #Education{
        display: none;
    }

    .mobile-listDiv {
        display: block;
    }
    .mobile-List {
        margin: 1rem;
        padding-left: 3rem;
    }
    .moble-ListLi {
        margin: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .moble-ListLi:hover {
        box-shadow: 0.1rem 0.1rem 5rem black;
        transform: scale(1.01);
    }
}