*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
#header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 16rem;
    background: #60b2e5;
}
#profilePic{
margin: 3rem;
    border: 5px solid #53f4ff;
    border-radius: 50%;
}
#profilePic:hover{
box-shadow: 0.1rem 0.1rem 5rem black;
/*border: 5px solid black;*/
}
.h1{
margin: 1rem;
}
#languages{
border-collapse: collapse;
    border: 0.3rem solid #1E3A5F;
    padding: 0.4rem;
    margin: 1rem;
}
#languages td{
    text-align: center;
    border: 5px solid #1E3A5F;
    padding: 0.4rem;
    margin: 1rem;
}
#languages td:hover{

}
#languages tr:nth-child(even){
    background: #8abeef;
}
#languages tr:nth-child(odd){
    background: #D9E6F2;
}